.header {
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  right: 2vw;
  width: calc(100% - 2vw);
  height: 0px;
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
  z-index: 300;
  cursor: pointer;
}
